{% extends "layout.html" %}
{% block content %}

<div class="database-container row">
    <div class="col-md-12">
        <div class="database-buttons">
            <a type="submit" class="btn btn-primary" id="check-for-update" href="{{ url_for('check_for_update') }}">
                Check for Updates
            </a>
            <a type="submit" class="btn btn-primary" id="update-database" href="{{ url_for('update_database') }}">Update
                Database</a>
        </div>
        <span>Database Last Updated On: {{ db_mod_date }}</span>
    </div>

    <div class="progress-bar col-md-12">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100">
            40%
        </div>
    </div>

</div>

<div class="filter-container row">
    <div class="input-group col-md-12">
        <form action="{{ url_for('table_data') }}" method="POST">
            <div class="input-group-prepend">
                <label class="input-group-text">County</label>
                {{ form.county(class_="custom-select") }}
                <div class="input-group-prepend">
                    <label class="input-group-text">City</label>
                    {{ form.city(class_="custom-select") }}
                </div>
                <div class="input-group-prepend">
                    <label class="input-group-text">Sale Date</label>
                    {{ form.sale_date(class_="custom-select") }}
                </div>
                <input class="btn btn-primary col-md-1" type="submit" value="Submit">
            </div>
        </form>
        <button id="filter-reset" class="btn btn-secondary col-md-1">Reset</button>
    </div>
</div>

{% endblock content %}