<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sheriff Sale App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Sheriff Sale</h1>
            <ul class="">
                <li class="">
                    <a class="" href="/">Home <span class="">(current)</span></a>
                </li>
            </ul>
            <div class="date-form">
                <form action="" method="POST" name="sale_dates">
                    {{ form.sale_dates.label }}
                    {{ form.sale_dates }}
                    {{ form.submit(class_ = "btn btn-primary") }}
                </form>
            </div>
        </div>
    </header>

    <main role="main" class="main-container">
        {% block content %}{% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
</body>

</html>