{% extends "layout.html" %}
{% block content %}
<div class="table-results">
    <h4>
        <small>
            There are a total of {{ results }} results.
        </small>
    </h4>
</div>
<div class="grid-container">
    <div class="grid-header">Address</div>
    <div class="grid-header">City</div>
    <div class="grid-header">Sale Date</div>
    <div class="grid-header">Priors</div>
    <div class="grid-header">Judgment</div>

    {% for data in sheriff_sale_data %}
    <div class="grid-item">
        {{ data.address_sanitized }}
    </div>
    <div class="grid-item">
        {{ data.city }}
    </div>
    <div class="grid-item">
        {{ data.sale_date}}
    </div>
    <div class="grid-item">
        {{ data.priors }}
    </div>
    <div class="grid-item">
        {{ data.judgment }}
    </div>
    {% endfor %}
</div> {% endblock content %}