{% extends "layout.html" %}
{% block content %}
<div class="table-results">
    <!-- <h5> -->
    There are a total of {{ results }} results.
    <!-- </h5> -->
</div>
<div class="grid-container">
    <div class="grid-header">Address</div>
    <div class="grid-header">City</div>
    <div class="grid-header">Sale Date</div>
    <div class="grid-header">Priors</div>
    <div class="grid-header">Plaintiff</div>
    <div class="grid-header">Judgment</div>

    {% for data in sheriff_sale_data %}
    <div class="grid-item">
        <a href={{ data.maps_url }} target="_blank">
            {{ data.address_sanitized }}
            <br>{{ data.unit }}
            <br>{{ data.secondary_unit }}
        </a>
    </div>
    <div class="grid-item">
        {{ data.city }}
    </div>
    <div class="grid-item">
        {{ data.sale_date}}
    </div>
    <div class="grid-item grid-item-priors">
        {{ data.priors }}
    </div>
    <div class="grid-item">
        {{ data.plaintiff }}
    </div>
    <div class="grid-item">
        {{ data.judgment }}
    </div>
    {% endfor %}
</div> {% endblock content %}