{% extends "layout.html" %}
{% block content %}
  <div class="table-results">
    <h4>
      <small>
        There are a total of {{ results }} results.
      </small>
    </h4>
  </div>
  <div class="table-container">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Sheriff #</th>
            <th>Court Case #</th>
            <th>Sale Date</th>
            <th>Plaintiff</th>
            <th>Defendant</th>
            <th>Address</th>
            <th>Priors</th>
            <th>Attorney</th>
            <th>Judgment</th>
          </tr>
          </thead>
          {% for data in sheriff_sale_data %}
            <tr>
              <td> {{ data.sheriff }} </td>
              <td> {{ data.court_case }} </td>
              <td> {{ data.sale_date }} </td>
              <td> {{ data.plaintiff }} </td>
              <td> {{ data.defendant }} </td>
              <td> {{ data.address_sanitized }} </td>
              <td> {{ data.priors }} </td>
              <td> {{ data.attorney }} </td>
              <td> {{ data.judgment }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
