[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-cors = "*"
pylint = "*"
pycodestyle = "*"
black = "*"
python-zillow = "*"

[requires]
python_version = "3.8"
