[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
yapf = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-cors = "*"
pycodestyle = "*"
pyzillow = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2 = "*"
pylint-flask-sqlalchemy = "*"
pylint-flask = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
