.header-container {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 50%;
}

body {
    background: #fafafa;
    color: #333333;
}

header {
    background: #a0d3cc;
}


database-buttons{
    margin-top: 5;
}
/*table {*/
    /*table-layout: fixed;*/
    /*width: 100px;*/
/*}*/

h4 .h4 {
    margin-left: 5
}

nav {
    background: #a0d3cc;
    width: 1000px;
}

table-container {
    background: #DAD6D6;
}

table-results {
    margin-left: 5
}

input {
	display:inline-block;
	vertical-align: middle;
}
