/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

/* Navbar */
/* .navbar { */
    /* align-self: flex-start; */
/* } */

ul.navbar li {
    display: inline;
    font-size: 16px;
}

ul.navbar li+li:before {
    padding: 10px;
    content: "\007c"
}

ul.navbar li a {
    text-decoration: none;
}
/* Sale Date */

.sale-date-form {
    display: flex;
}

#sale_date {
    font-family: 'Arial';
    font-size: 18px;
    height: 100%;
    width: auto;
}

.submit {
    height: 100%;
}

form.sale_date {
    height: 30px;
}


.main-container {
    max-width: 960px;;
    width: 100%;
    margin: 25px 25% 0 25%;
}



body {
    background: #fafafa;
    color: #333333;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif', 'Ubuntu';
}

header {
    background: #a0d3cc;
}


database-buttons{
    margin-top: 5;
}
/*table {*/
    /*table-layout: fixed;*/
    /*width: 100px;*/
/*}*/

h4 .h4 {
    margin-left: 5
}

nav {
    background: #a0d3cc;
    width: 1000px;
}

table-container {
    background: #DAD6D6;
}

table-results {
    margin-left: 5
}

input {
	display:inline-block;
	vertical-align: middle;
}
