{% extends 'layout.html' %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Lot</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>County</th>
                    <th>Last Sale Price</th>
                    <th>Last Sale Date</th>
                    <th>Taxes</th>
                    <th>Owner Name</th>
                </tr>
            </thead>
            <tr>
                <td>{{data['block']}}</td>
                <td>{{data['lot']}}</td>
                <td>{{data['property_location']}}</td>
                <td>{{data['mun']}}</td>
                <td>{{data['county']}}</td>
                <td>{{data['sale_price']}}</td>
                <td>{{data['sale_date']}}</td>
                <td>{{data['taxes']}}</td>
                <td>{{data['owner_name']}}</td>
            </tr>
        </table>
    </div>
{% endblock %}